* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  padding-left: 20px;
  padding-top: 20px;
}
#selection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}
select {
  width: 100px;
  height: 20px;
  font-size: 1rem;
  padding: 0 2px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  flex-wrap: wrap;
}

.card {
  width: 230px;
  height: 100px;
  /* font-size: 1rem; */
  padding: 20px;
  margin: 20px 20px 60px 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
}
i {
  font-size: 2.75rem;
}
.blue {
  color: #3468fa;
}
.orange {
  color: #fba531;
}
.violet {
  color: #833c80;
}
